@using TerminalApi.Models
@model OrderResponseForStudentDTO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; padding: 20px; }
        .invoice-box { max-width: 800px; margin: auto; border: 1px solid #ddd; padding: 20px; }
        .invoice-header { text-align: center; }
        .company-info { text-align: right; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        table, th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f4f4f4; }
        .total { text-align: right; font-size: 18px; font-weight: bold; }
        .footer { margin-top: 20px; text-align: center; font-size: 12px; color: gray; }
    </style>
</head>
<body>
    <div class="invoice-box">
        <div class="invoice-header">
            <h1>Facture</h1>
        </div>

        <div class="company-info">
            <p><strong>Entreprise:</strong> Skill Hive </p>
            <p><strong>Numéro Siret:</strong> 123-5845-859 </p>
            <p><strong>Email:</strong> teacher&#64;skillhive.fr</p>
            <p><strong>Date:</strong> @Model.PaymentDate?.ToString("yyyy-MM-dd")</p>
        </div>

        <h3>Coordonnées client:</h3>
        <p><strong>Client:</strong> @Model.Bookings?.First().StudentFirstName @Model.Bookings?.First().StudentLastName </p>
        <p><strong>Address:</strong> 1 rue Honoré Daumier, Talence 33400</p>
        <p><strong>Transaction :</strong> @Model.PaymentIntent</p>
        <p><strong>Numéro facture :</strong> @Model.OrderNumber</p>

        <table>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Date</th>
                <th>Prix </th>
                <th>Prix réduit</th>
            </tr>
            
            @for (int i = 0; i < Model.Bookings?.Count; i++)
            {
                var items = Model.Bookings.ToList();
                <tr>
                    <td>@(i + 1)</td>
                    <td>@items[i].Subject</td>
                    <td>@items[i].StartAt.ToString("yyyy-MM-dd")</td>
                    <td>@items[i].Price.ToString("F2")</td>
                    <td>@items[i].DiscountedPrice.ToString("F2")</td>
                </tr>
            }
            <tr>
                <td colspan="4" class="total">Total payé:</td>
                <td><strong>@Model.Bookings?.Sum(i => i.DiscountedPrice).ToString("F2") €</strong></td>
            </tr>
            <tr>
                <td colspan="4" class="total">Dont TVA :</td>
                <td><strong>@(String.Format("{0:0.00}",  Model.Bookings?.Sum(i => i.DiscountedPrice) * (decimal)0.2)) €</strong></td>
            </tr>
        </table>

        <p class="footer">Merci de votre achat!</p>
    </div>
</body>
</html>

